.splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-animate {
  animation: pulse 4s ease-in 1s infinite;
}

.logo-animate:hover {
  cursor: default;
}

.logo-fade {
  animation: fade 4s ease-in-out 1s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
