.header-container {
  display: flex;
  justify-content: space-between;
  /* margin-left: 5rem;
  margin-right: 5rem; */
  margin-top: 10rem !important;
}

.text-zone {
  width: 100%;
  margin-top: 8rem;
  cursor: default;
  text-align: center;
}

.text-zone h1 {
  font-size: 6rem;
  margin: 0;
  font-family: "Lobster";
  font-weight: 400;
}

.text-zone h2 {
  color: var(--accent-color);
  margin-top: 20px;
  font-weight: 400;
  font-size: 2rem;
  font-family: "Roboto Condensed";
  letter-spacing: 2px;
  animation: fadeIn 1s 4s backwards;
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .header-container {
    margin-top: 3rem;
    width: 100%;
  }
  .text-zone {
    margin-top: 4rem;
  }

  .text-zone h1 {
    font-size: 4rem;
  }

  .text-zone h2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    width: 90%;
  }

  .text-zone {
    margin-top: 2rem;
  }

  .text-zone h1 {
    font-size: 3rem;
  }

  .text-zone h2 {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .header-container {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 426px) {
  .header-container {
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem;
  }

  .text-zone {
    width: 100%;
  }

  .text-zone h1 {
    font-size: 2.9rem;
  }

  .text-zone h2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}
