:root {
  --background-color: #222831;
  --primary-color: #393e46;
  --accent-1: #00adb5;
  --accent-2: #eeeeee;

  --transition: all 400ms ease;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  cursor: default;
}

body {
  margin: 0;
  font: 300 11px/1.4 "Roboto Mono", "sans-serif";
  color: var(--accent-2);
  background: var(--background-color);
  max-width: 1440px;
  overflow-x: hidden;
  margin: 0 auto !important;
  float: none !important;
  min-height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  background-color: var(--primary-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent-1); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* border: 3px solid white; creates padding around scroll thumb */
}

.container {
  width: 100%;
  opacity: 0;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
}

section {
  min-height: 100vh;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  width: max-content;
  padding: 1rem;
  background: var(--accent-1);
  border-radius: 1rem;
  color: var(--primary-color);
  font-family: "Labster";
  font-size: 2rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--accent-2);
}

.btn:active {
  background: var(--background-color);
  color: var(--primary-color);
}

a {
  all: unset;
}

.hidden {
  opacity: 0;
  filter: blur(10px);
  transition: all 1.5s;
}

.show {
  filter: blur(0);
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* Media Queries */

@media screen and (max-width: 640px) {
  section {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 425px) {
  section {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
